.defaultPage-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/about-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 0 20px;
  overflow: hidden;
}

.defaultPage-content {
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
}

.defaultPage-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 700;
}

.defaultPage-content p {
  font-size: 20px;
  line-height: 1.6;
}
